@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
body,p ,h1,h2,h3,h4{
	margin: 0;
	padding: 0;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
	width: calc(90% - 50px);
	padding-left: 113px;
}
.header ul{
	list-style: none;
	display: flex;
	color: #B08EAD;
	font-family: 'Cormorant Garamond', serif;
	gap: 40px;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
}
.header li{
	cursor: pointer;
}
.header_menu{
	display: flex;
	align-items: center;
}
.basket{
	padding-left: 45px;
}
.basket button{
	width: 22px;	
	height: 20px;	
	background-image: url(images/basket.png);
	background-color: #fff;
	border: none;
	cursor: pointer;
}
.present{
	position: relative;
	height: 817px;
	background: linear-gradient( #C9ADC6 50%, #D6BBD3 50%);
}
.main{
	position: absolute;
	left: 178px;
	top: 72px;
}
.present_text{
	position: absolute;
	background: #B08EAD;
	width: 425px;
	height: 450px;
	left: 902px;
	top: 182px;
	padding-left: 40px;
}
.present_text p{
	font-family: 'Roboto';
	color: #FFFFFF;
	font-size: 14px;
	line-height: 30px;
	padding-top: 124px;
	letter-spacing: 1.5px;
	padding-bottom: 10px;
}
.present_text h1{
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;
	font-size: 45px;
	line-height: 55px;
	color: #FFFFFF;
}
.present_text a{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1.5px;
	color: #FFFFFF;
	padding-top: 22px;
	border-bottom: 3px solid #fff;
	text-decoration: none;
}
.present_text a:hover{
	cursor: pointer;
} 
.cushion{
	display: flex;
	flex-direction: column;
    align-items: center;
}
.cushion_title{
	padding-top: 74px;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 1.5px;
	color: #B99BB6;
}
.cushion_text{
	padding-top: 13px;
	font-family: 'Cormorant Garamond';
	font-weight: 400;
	font-size: 26px;
	line-height: 38px;
	text-align: center;
	color: #5F4D5D;
}
.cushion_button{
	margin-top: 17px;
	border: 1px solid #B99BB6;
	background-color: #fff;
	border-radius: 25px;
	font-family: 'Roboto';
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	letter-sacing: 1.5px;
	color: #B99BB6;
	padding: 15px 23px 13px 23px;
	cursor: pointer;
}
.icon{
	display: flex;
	justify-content: center;
	padding-top: 50px;
}
.icons{
	height: 427px;
	width: 368px;
	margin-right: 37px;
	background-color: #CEB3CB;
}
.icons h2{
	font-family: 'Cormorant Garamond';
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	color: #FFFFFF;
	padding-top: 23px;
	padding-left: 23px;
}
.icons a{
	text-decoration: none;
	font-family: 'Cormorant Garamond';
	font-weight: 400;
	font-size: 17px;
	line-height: 30px;
	color: #FFFFFF;
	padding-left: 23px;
	padding-top: 6px;
}
section .info{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;	
}
.info_text{
	display: flex;
}
.beginnings{
	padding-top: 70px;
	border-bottom: 1px solid #D7B7D4;
	padding-bottom: 50px;
	margin-bottom: 40px;
}
.info_text h4{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1.5px;
	color: #B99BB6;
}
.info_text p{
	padding-top: 10px;
	font-family: 'Cormorant Garamond';
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	color: #5F4D5D;
}
.info_text img{

}
.beginnings_text{
	padding-right: 73px;
	padding-left: 85.5px;
}
.carrer{
	border-bottom: 1px solid #D7B7D4;
	padding-bottom: 40px;
	margin-bottom: 40px;
}
.carrer_text{
	padding-left: 93px;
}
.carrer img{
	padding-left: 56.5px;
}
.products_text{
	padding-right: 88px;
	padding-left: 85.5px;
}
section .pilows{
	display: flex;	
	justify-content: center;	
}
.pilows{
    display: flex;
    flex-wrap: wrap;
    padding-top: 91px;	
}
.cushions{
	padding-right: 26px;	
}
.cushions h3{
	font-family: 'Cormorant Garamond';
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	color: #5F4D5D;
	text-align: center;
	padding-top: 9px;		
}
.cushions p{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #B0B0B0;
	text-align: center;	
	padding-top: 7px;	
}
.under-cushion{
	padding-top: 54px;	
}